/* Css ÏßÐÔ½¥±ä */
.linear-gradient (@startColor: #fff, @endColor: #f4f5f6) {
    background-color: @endColor;
    background-repeat: repeat-x;
	/* FF 3.6+ */
    background-image: -moz-linear-gradient(top, @startColor, @endColor); 
	/* IE10 */
    background-image: -ms-linear-gradient(top, @startColor, @endColor);
	/* Safari 4+, Chrome 2+ */
    background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	/* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, @startColor, @endColor);
	/* Opera 11.10 */
    background-image: -o-linear-gradient(top, @startColor, @endColor); 
	/* IE6 & IE7 */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d')", @startColor, @endColor));
	/* IE8+ */
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d')", @startColor, @endColor); 
	/* W3C */
    background-image: linear-gradient(top, @startColor, @endColor);
}