<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>布局 - 兼容解决方案</title>
  <link rel="stylesheet" charset="utf-8" href="../base.css" />
  <link rel="stylesheet" charset="utf-8" href="./layout.css" />
  <style type="text/css">
    h3{font-size:30px;margin:20px 0 10px;padding-bottom: 1px solid #eee;}
    
    .fn-clear:after{clear: both;content: " ";display: block;font-size: 0;height: 0;visibility: hidden;}
    .fn-clear{*zoom:1;}
    
    .fn-left, .fn-right{display:inline;}
    .fn-left{float:left;}
    .fn-right{float:right;}
  
    #col2-1{width:600px;background: #f7f7f7;}
    #col2-2{width:330px;background: #ffc;}
    #col3-1{width:400px;margin-right: 20px;background: #f7f7f7;}
    #col3-2{width:300px;background: #f7f7f7;}
    #col3-3{width:200px;background: #ffc;}  
  </style>
</head>

<body>

<div id="wrapper" class="single">
  
  <div id="container">
  
    <ol class="howto">
      <li>布局
        <p>当需要而已的时候，如果有n栏，那么，&lt; n 的栏都用 <code>.fn-left</code> 让它float left；第n栏，也就是最近一栏使用 <code>.fn-right</code>向左浮动</p>
      </li>
      <li>等高栏
        <p>在需要等高的栏中，都添加<code>.sl-col-equal</code>来让他们等高</p>
      </li>
      <li>结构(例:3栏)：别忘记给每个栏加宽度
        <pre>
                &lt;div class=&quot;sl-col-cnt&quot;&gt;
                  &lt;div class=&quot;fn-left&quot;&gt;...&lt;/div&gt;
                  &lt;div class=&quot;fn-left&quot;&gt;...&lt;/div&gt;
                  &lt;div class=&quot;fn-right&quot;&gt;...&lt;/div&gt;
                &lt;/div&gt;&lt;!-- .sl-col-cnt --&gt;
        </pre>
      </li>
    </ol> <!-- .howto -->   
  
  
      <h3>2 column</h3>
      <div class="sl-col-cnt fn-clear">
        <div id="col2-1" class="fn-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div  id="col2-2" class="fn-right">
        Just another column floated to right
        </div>
      </div>
  
    <h3>2 column width equal height</h3>
      <div class="sl-col-cnt fn-clear">
        <div id="col2-1" class="fn-left sl-col-equal">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div id="col2-2"  class="fn-right sl-col-equal">
        Just another column floated to right
        </div>
      </div>

      <h3>3 column width equal height</h3>
      <div class="sl-col-cnt fn-clear">
        <div id="col3-1" class="fn-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div id="col3-2" class="fn-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div id="col3-3"  class="fn-right">
        Just another column floated to right
        </div>
      </div>
      
      <h3>3 column width equal height</h3>
      <div class="sl-col-cnt fn-clear">
        <div id="col3-1" class="fn-left sl-col-equal">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div id="col3-2" class="fn-left sl-col-equal">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div id="col3-3"  class="fn-right sl-col-equal">
        Just another column floated to right
        </div>
      </div>

    
  </div><!-- #container -->
  
</div><!-- #wrapper -->

</body>
</html>
