.sl-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(top, #fcfcfc, #f9f9f9);
}

.ui-button {
    padding: 0 0;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    overflow: visible;
    cursor: pointer;
}

div.ui-button, p.ui-button, span.ui-button {
    *display: inline;/* for ie */
}

.ui-button-text {
    display: block;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    overflow: visible;
}
.ui-button a.ui-button-text:hover {
    text-decoration: none;
}
.ui-button input.ui-button-text, .ui-button button.ui-button-text {
    *display: inline;/* for ie */
}

.ui-button-lwhite, .ui-button-lwhite:hover,
.ui-button-mwhite, .ui-button-mwhiter:hover,
.ui-button-swhite, .ui-button-swhite:hover,
.ui-button-lwhite .ui-button-text,
.ui-button-mwhite .ui-button-text,
.ui-button-swhite .ui-button-text {
    background-image: url(https://i.alipayobjects.com/e/201204/2vCVR5Bh4d.png);
    background-repeat: no-repeat;
    background-color: transparent;
}
.ui-button-lwhite .ui-button-text,
.ui-button-mwhite .ui-button-text,
.ui-button-swhite .ui-button-text{
    font-family: verdana, \5b8b\4f53, \9ED1\4F53, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

/* large-size */
.ui-button-lwhite { background-position: 0 -89px; }
.ui-button-lwhite .ui-button-text {
    padding: 8px 20px;
    background-position: right -266px;
    color: #595959;
}
.ui-button-lwhite:hover { background-position: 0 -133px; }
.ui-button-lwhite:hover .ui-button-text {
    background-position: right -310px;
}
/* middle-size */
.ui-button-mwhite { background-position: 0 -429px; }
.ui-button-mwhite .ui-button-text {
    padding: 5px 22px 6px 22px;
    background-position: right -577px;
    color: #595959;
}
.ui-button-mwhite:hover { background-position: 0 -466px; }
.ui-button-mwhite:hover .ui-button-text {
    background-position: right -614px;
}
/* smaill */
.ui-button-swhite { background-position: 0 -711px; }
.ui-button-swhite .ui-button-text {
    padding: 3px 12px 4px 12px;
    font-size: 12px;
    background-position: right -831px;
    color: #595959;
}
.ui-button-swhite:hover { background-position: 0 -741px; }
.ui-button-swhite:hover .ui-button-text {
    background-position: right -861px;
}

.ui-button-lwhite input.ui-button-text,
.ui-button-mwhite input.ui-button-text,
.ui-button-swhite input.ui-button-text {
    *overflow: visible;
}

.ui-button-lorange, .ui-button-lorange:hover,
.ui-button-morange, .ui-button-morange:hover,
.ui-button-sorange, .ui-button-sorange:hover,
.ui-button-lorange .ui-button-text,
.ui-button-morange .ui-button-text,
.ui-button-sorange .ui-button-text {
    background-image: url(https://i.alipayobjects.com/e/201204/2vCVR5Bh4d.png);
    background-repeat: no-repeat;
    background-color: transparent;
}
.ui-button-lorange .ui-button-text,
.ui-button-morange .ui-button-text,
.ui-button-sorange .ui-button-text {
    font-family: verdana, \5b8b\4f53, \9ED1\4F53, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

/* large-size */
.ui-button-lorange { background-position: 0 0; }
.ui-button-lorange .ui-button-text {
    padding: 8px 20px;
    background-position: right -177px;
    color: #fff;
}
.ui-button-lorange:hover { background-position: 0 -45px; }
.ui-button-lorange:hover .ui-button-text {
    background-position: right -222px;
}
/* middle-size */
.ui-button-morange { background-position: 0 -355px; }
.ui-button-morange .ui-button-text {
    padding: 5px 22px 6px 22px;
    background-position: right -503px;
    color: #fff;
}
.ui-button-morange input.ui-button-text {
    padding: 6px 22px;
}
.ui-button-morange:hover { background-position: 0 -392px; }
.ui-button-morange:hover .ui-button-text {
    background-position: right -540px;
}
/* smaill */
.ui-button-sorange { background-position: 0 -651px; }
.ui-button-sorange .ui-button-text {
    padding: 3px 12px 4px 12px;
    font-size: 12px;
    background-position: right -771px;
    color: #fff;
}
.ui-button-sorange input.ui-button-text {
    padding: 4px 12px;
}
.ui-button-sorange:hover { background-position: 0 -681px; }
.ui-button-sorange:hover .ui-button-text {
    background-position: right -801px;
}

.ui-button-lorange input.ui-button-text,
.ui-button-morange input.ui-button-text,
.ui-button-sorange input.ui-button-text {
    *overflow: visible;
}

.ui-button-ldisable, .ui-button-mdisable, .ui-button-sdisable,
.ui-button-ldisable .ui-button-text, 
.ui-button-mdisable .ui-button-text, 
.ui-button-sdisable .ui-button-text {
    background-image: url(https://i.alipayobjects.com/e/201204/2vCVR5Bh4d.png);
    background-repeat: no-repeat;
    background-color: transparent;
}
.ui-button-ldisable .ui-button-text,
.ui-button-mdisable .ui-button-text,
.ui-button-sdisable .ui-button-text {
    font-family: verdana, \5b8b\4f53, \9ED1\4F53, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    cursor: text;
}

/* large */
.ui-button-ldisable { background-position: 0 -1021px; }
.ui-button-ldisable .ui-button-text {
    padding: 8px 20px 9px 20px;
    background-position: right -1063px;
}

/* middle */
.ui-button-mdisable { background-position: 0 -891px; }
.ui-button-mdisable .ui-button-text {
    padding: 6px 22px 6px 22px;
    *padding: 5px 22px 5px 22px;
    background-position: right -927px;
}
/* smaill */

.ui-button-sdisable { background-position: 0 -962px;}
.ui-button-sdisable .ui-button-text {
    padding: 3px 12px 4px 12px;
    font-size: 12px;
    background-position: right -991px;
}

.ui-button-ldisable input.ui-button-text,
.ui-button-mdisable input.ui-button-text,
.ui-button-sdisable input.ui-button-text {
    *overflow: visible;
}

.ui-confirmBox {
    zoom:1;
}

.ui-confirmBox-title {
    height:37px;
    line-height:38px;
    border-bottom:1px solid #E1E1E1;
    color:#4d4d4d;
}

.ui-confirmBox-title h2 {
    margin-left:20px;
    font-size:14px;
    font-family:'微软雅黑','黑体',Arial;
}

.ui-confirmBox-container {
    margin:15px 20px 20px;
}

.ui-confirmBox-content {
    margin-bottom:15px;
}

.ui-confirmBox-operation .ui-button {
    margin-right:6px;
}

.ui-confirmBox {
    z-index:999;
    left:50%;
    top:50%;
    background:#FFF;
    border:6px solid rgba(0, 0, 0, 0.5); 
    *border:6px solid #767576; 
    border:6px solid #767576\0; 
    border:6px solid rgba(0, 0, 0, 0.5)\9\0;  /* ie 9*/
    -moz-background-clip: padding-box; /* 半透明边框，只支持高级浏览器 */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.ui-confirmBox-action{
    position:absolute;
    display:block;
    right:10px;
    top:4px;
}
.ui-confirmBox-close {
    color: #999;
    font-family: tahoma;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}
.ui-confirmBox-close:hover {
    color: #808080;
}

.ui-confirmBox-message {
    background-color: #DEF9A5;
    border: 1px solid #9EDF8A;
    font-size:14px;
}
.ui-confirmBox-message .ui-confirmBox-container {
    margin:10px 20px;  
}
.ui-confirmBox-message .ui-confirmBox-content {
    margin:0;
    text-align:center;
}

