@charset="utf-8";

/*
	@ 名称: 解决 <select /> z-index 太高问题
	@ 描述: 浮层被 select 穿透，是最常见的 z-index bug
	@ 例子：
		 <div id="dd3" class="sl-select-free" style="background:#FF3366;">
			内容<br/>
		<!--[if lte IE 6.5]><iframe src="javascript:'';"></iframe><![endif]-->
		</div>
*/

.sl-select-free {
	position: absolute;
	left:0;
	top:0;
	z-index: 10;
	overflow: hidden;/* must have */
	width: 33em;/* must have for any value */
}
.sl-select-free iframe {
	display: none;/* sorry for IE5 */
	display/**/: block;/* sorry for IE5 */
	position: absolute;/* must have */
	top: 0; /* must have */
	left: 0; /* must have */
	z-index: -1; /* must have */
	filter: mask(); /* must have */
	width: 3000px; /* must have for any big value */
	height: 3000px /* must have for any big value */
}